# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/app/node_modules
/app/.pnp
/app/.pnp.js

# testing
/app/coverage

# next.js
/app/.next/
/app/out/

# production
/app/build

# misc
/app/.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
/app/.env.local
/app/.env.development.local
/app/.env.test.local
/app/.env.production.local

# vercel
/app/.vercel


#BOT

/bot/node_modules

ecosystem.config.js
docker-compose.yml
docker-compose-ssl.yml
stack.yml

/app/package-lock.json
/bot/package-lock.json